.container {
  height: 100dvh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue_container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    align-self: center;
  }
}

.google {
  display: flex;
  justify-content: center;

  iframe {
    margin: -2px 0px !important;
  }
}
