@use '../../styles/const.scss';

.input {
  background-color: const.$gray;
  border-radius: const.$border-radius;
  border: none;
  padding: const.$small-padding;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
